.metadata
.recommenders
RemoteSystemsTempFiles
ServletByStandardJava/target
ServletByStandardJava/.classpath
ServletByStandardJava/.project
ServletByStandardJava/.settings
SpringBootDataTests/target
SpringBootDataTests/.classpath
SpringBootDataTests/.project
SpringBootDataTests/.settings
SpringBootMVCTests/target
SpringBootMVCTests/.classpath
SpringBootMVCTests/.project
SpringBootMVCTests/.settings
Springdatatests/target
Springdatatests/.classpath
Springdatatests/.project
Springdatatests/.settings
